* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #141414;
}


/* UTILITIES */
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.overflow-x {
    overflow-x: auto;
}

/* TEXT STYLES */
main ul {
    list-style: none;
}


/* HEADER */
.navbar {
    background-color: black;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar img {
    height: 100px;
}


/*  */
.language img {
    height: 25px;
    max-height: 25px;
    max-width: 40px;
}