* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #141414;
    color: white;
}


/* UTILITIES */
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.overflow-x {
    overflow-x: auto;
}

.hidden {
    opacity: 0;
}

/* TEXT STYLES */
main ul {
    list-style: none;
}

.title > p,
.title-original > p {
    font-weight: bolder;
    font-size: 25px;
}


/* HEADER */
.navbar {
    justify-content: space-between;
    align-items: flex-end;
}

.navbar img {
    margin: 20px 0px 0px 20px;
    height: 70px;
    width: 230px;
}

.navbar input {
    width: 300px;
    margin-right: 40px;
    border: none;
    padding: 5px 5px 5px 10px;
}



/* MAIN */
main .items-list {
    margin-top: 70px;
    padding-left: 100px;
}

.items-list .item {
    margin: 0px 10px;
    transition: transform .7s;
}

/*  */
.language img {
    height: 25px;
    max-height: 25px;
    max-width: 40px;
}

.poster {
    max-height: 600px;
    min-height: 600px;
}



/* overviews */
.overview-container {
    top: 0;
    left: 0;
    height: 600px;
    width: 400px;
    opacity: 0;
    transition: opacity .2s, transform .7s;
}


.item:hover .overview-container {
    /* transform: scale(1.1); */
    opacity: 1;
    z-index: 2;
    background-color: #141414dc;
    transition: opacity .7s, transform .7s;
}

.item:hover{
    z-index: 1;
    transform: scale(1.2);
}




.overview-container .info-top,
.overview-container .info-bottom {
    padding: 10px;
}

.item-info-list {
    justify-content: space-between; 
    height: 600px;
    width: 400px;
}

.overview-container .overview {
    text-align: justify;
}

.overview-container .title, 
.overview-container .title-original {
    padding: 10px 0px 30px;
}
